{% extends 'base.html.twig' %}
{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="{{ path('app_film_add') }}">Добавить фильм</a><br>
{% endif %}    
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Постер</th>
        <th>Режиссер</th>
        <th>Категория</th>
    </tr>
    </thead>
    <tbody>
    {% for film in films %}
        <tr>
            <td>{{ film.id }}</td>
            <td>{{ film.title }}</td>
            <td><img src="{{ film.imageurl }}" width="100" height="150" alt="не найдена"></td>
            <td>{{ film.getDirector() }}</td>
            <td>{{ film.getCategory() }}</td>
            <td>
                <a href="{{ path('app_film_show', {'id': film.id}) }}">Показать</a>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('app_film_edit', {'id': film.id}) }}">Редактировать</a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Записи не найдены!</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}